APP_NAME=QuickBite USSD
APP_ENV=development
APP_DEBUG=false

DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/quickbite

AT_USERNAME=sandbox
AT_API_KEY=your_africas_talking_api_key
AT_AUTH_TOKEN=
INTERNAL_API_KEY=your_internal_api_key
AT_SERVICE_CODE=*384*30303#
AT_USSD_EVENT_CALLBACK_URL=https://your-public-domain/api/v1/ussd/events

PAYHERO_BASIC_AUTH=Basic your_base64_credentials
API_USERNAME=your_payhero_api_username
API_PASSWORD=your_payhero_api_password
CHANNEL_ID=5807
URL=https://backend.payhero.co.ke/api/v2/payments
PROVIDER=m-pesa
CALLBACK_URL=https://your-public-domain/api/v1/payments/callback
PAYHERO_CALLBACK_TOKEN=your_payhero_callback_token
